* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: $color-copy;
  background-color: $color-bg;
  font: {
    family: $font-serif;
    size: 1.7rem;
  }
}

h1 {
  font-family: $font-sans;
  margin: 0;
}

h3 {
  font: {
    size: 1.7rem;
    weight: normal;
  }
}

a {
  color: $color-copy;
  text-decoration: none;
}

a:hover {
  color: $color-dark-grey;
}

h3,
p,
legend,
label {
  -webkit-font-smoothing: antialiased;
}

em {
  font-style: normal;
  color: $color-dark-grey;
}
