.downloads__title {
  text-align: center;
}

.downloads__description {
  max-width: 56.4rem;
  margin: 0 auto 3.4rem auto;
  text-align: center;
}

.downloads__cover-gallery {
  max-width: 82rem;
  margin: 0 auto;
  text-align: center;
}

.downloads__cover {
  display: inline-block;
  margin: 0 2rem 2rem;
}

.downloads__caption {
  font-size: 1.3rem;
  text-transform: uppercase;
}
