.row {
  width: 100%;
}

.row > section {
  @include centered;
  padding: 16.4rem 2rem;
}

.row--bordered {
  border-bottom: 1px solid $color-hairlines;
}

.row--fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: $color-bg;
}

.row--header-offset {
  margin-top: $header-height;
}

.row--toothy {
  background: {
    color: $color-sepia;
    image: url(../images/bg/footer-teeth.png);
    repeat: repeat-x;
    position: top left;
  }
}
