.title {
  margin: 0 0 2.8rem 0;
  font: {
    family: $font-sans;
    size: 2.8rem;
    weight: normal;
  }
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $color-dark-grey;
}

.title--centered {
  text-align: center;
}
